<!DOCTYPE html>
<html lang="en">
<head>
  <title>Link shortener</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% flash.each do |key, value| %>
  <ul class="alert alert-<%= key %>">
    <% Array(value).each do |origin, messages| %>
      <li>
        <%= origin %>
        <ul>
          <% messages&.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
<div class="container">
  <%= yield %>
</div>
</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
